/* 
.btn-ViewDental {
  color:var(--color-blue-2);
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  padding: 1.8rem;
  font-weight: 700;
  width: 300px;
  letter-spacing: 2px;
  text-align: center;
  border: 1px solid transparent;
  line-height: 1.8;
  display: flex;
  justify-content: center;
}
.btn-custom1 {
  color: white;
  background-color:var(--color-blue-2);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  padding: 1.8rem;
  font-weight: 700;
  width: 300px;
  letter-spacing: 2px;
  text-align: center;
  border: 1px solid transparent;
  line-height: 1.8;
  display: flex;
  justify-content: center;
}

.form-control {
  border: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4) !important;
  background-color: transparent;
  padding: 00;
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 22px;
}
form {
  padding: 60px;
}
label {
  font-weight: 600;
  font-size: 23px;
}
::placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}
.form-control-select {
  border: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4) !important;
  background-color: transparent;
  padding: 00;
  color: rgba(17, 17, 17, 0.7) !important;
  font-size: 22px;
}
.form-control-textarea {
  height: inherit !important;
  padding: 12px 0 0 15px;
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
}
#submit {
  background: #fff !important;
  border: 1px solid #fff !important;
  color: #00bcd4 !important;
} */



/* #collapsibleNavbar #contact{
border-radius: 0px;
background-color: #2BD2FF;
text-align: left;
color: #000000a6;
} */


/* #contact{
  width: 150px;
  height: 55px;
  color: #170339;
  background-color: antiquewhite;
  border-radius: 30px;
  text-align: center;
}  */

/* .btn-custom {
  color:var(--color-blue-2);
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  padding: 1.5rem;
  font-weight: 700;
  width: 300px;
  height: 75px;
  box-sizing: border-box;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 40px;
  line-height: 1.8;
}

.btn-custom:hover{
  background-color:var(--color-blue-2);
  color: white;
  
} */



/*.textSection3 {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 992px) {
  .section3Divs {
    flex: 0 0 auto;
    width: 30.333333%;
  }
}*/

/*
.card-text {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
}
.marginBotton {
  margin-bottom: 7rem !important;
}
.cardDRPosition {
  color:var(--color-blue-2);
}
.blueStrip {
  background-image: url("../images/bg_1cpy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-custom2 {
  color:var(--color-blue-2);
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  padding: 1.8rem;
  font-weight: 700;
  width: 300px;
  letter-spacing: 2px;
  text-align: center;
  border: 1px solid transparent;
  line-height: 1.8;
  display: flex;
  justify-content: center;
}
.ManagersName {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textOnImageStories {
  width: 100%;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.216);
  color: #404040;
  display: none;
}
.storiesImage:hover .textOnImageStories {
  display: block;
}
.titleBlogs:hover {
  color:var(--color-blue-2);
}

li div h4 {
  color: #999999;
  cursor: pointer;
}
.pricingPlans:hover {
  background-color: white;
}
.pricingPlans {
  transition: all 0.3s ease;
}

*/




/* .imageQualifiedDoc {
  background-image: url("../images/bg_2ccpy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imageQualifiedDocInner {
  background-color: rgba(0, 0, 0, 0.511);
  display: flex;
  align-items: center;
  height: 40vh;
}
.imageQualifiedAnkerTag {
  color: white;
  text-decoration: none;
  font-size: 35px;
}
.imageQualifiedAnkerTag:hover {
  color:var(--color-blue-2);
}
.InnerImageQualified2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */



